@import "../../scss/main";

.Quotes{
   width: 200px;
   height: 60px;
   margin-bottom: 10px;
   // break point
   @include BP_mobile {
      width: 100%;
   }

   &-withIcon{
      padding-left: 22px;
   }
   &-darkTheme{
      color: $darkFont;
      text-shadow: $lightShadow;
   }

   &-lightTheme{
      color: $lightFont;
      text-shadow: $darkShadow;
   }

}
