@import "../../scss/main";

.Search{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-darkTheme{
    .Search-ClearIcon{
      fill: $darkFont;
    }
  }

  &-lightTheme{
    .Search-ClearIcon{
      fill: $lightFont;
    }
  }
  .Search-ClearIcon{
    cursor: pointer;
    padding: 10px;
  }
  .Search-Input{
    cursor: pointer;
    width: calc(100% - 50px);
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
