@import "../scss/main";

.Navigation{
     height: 100%;
     .Navigation{
          &-main{
               position: relative;
               overflow: hidden;
               height: 100%;
          }
          
          &-topMenu{
               top: 0;
               height: 46px;
               position: fixed;
               z-index: 1;
               width: 100%; 
               box-shadow: 0 0 10px rgba(0,0,0,0.5);
          }
          &-logo{
               border: 1px solid;
               border-radius: 19px;
               position: absolute;
               width: 35px;
               height: 29px;
               left: 11px;
               top: 7px;
          }
          &-logoLight{
               border-color: $darkFont;
               
          }
          &-logoDark{
               border-color: $lightFont;
          }
          &-buttons{
               display: flex;
               justify-content: center;
               .Button:first-child{
                    margin-left: 70px;
               }
          }
          &-LightTheme{
               background: $white;
               border-top: 1px solid $darkFont;
               border-bottom: 1px solid $darkFont;
               color: $darkFont;
               text-shadow: $lightShadow;
          }
          &-DarkTheme{
               background: $black;
               border-top: 1px solid $lightFont;
               border-bottom: 1px solid $lightFont;
               color: $lightFont;
               text-shadow: $darkShadow;
          }
          &-content{
               height: 100%;
               padding-top: 48px;
               padding-bottom: 48px;
          }

          &-bottomBlock{
               bottom: 0;
               height: 46px;
               position: fixed;
               z-index: 1;
               display: flex;
               justify-content: center;
               align-items: center;
               width: 100%;
               font-weight: 900;
               box-shadow: 0 0 10px rgba(0,0,0,0.5);
          }

          &-svgIcon{
               position: absolute;
               top: 7px;
               left: 4px;
          }
          
     }
}
