@import "../../scss/main";

.Main{
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: auto;
   padding: 10px 12px;
   .Main{
      &-container{
         display: flex;
         @include BP_mobile {
            flex-direction: column-reverse;
         }
      }
      &-day{
         color: $darkFont;
         text-shadow: $lightShadow;
      }
      &-night{
         color: $lightFont;
         text-shadow: $darkShadow;
      }
      &-title{
         margin: 0;
         font-size: 24px;
         font-weight: 900;
      }
      
   }

   // DEL THIS DOWN
   // .topMenu{
   //    display: flex;
   //    flex-direction: row;
   //    @include BP_mobile {
   //       flex-direction: column;
   //    }
   //    @include BP_tablet {
   //       flex-direction: column;
   //    }
   // }
   // break points
   
   // @include BP_tablet {
   //    color: green !important;
   // }
   // @include BP_laptop {
   //    color: orange !important;
   // }
   // @include BP_desktop {
   //    color: pink !important;
   // }
   // @include BP_tv {
   //    color: blue !important;
   // }   
}
