@import "../../scss/main";

.Main{
   height: 100%;
   background-repeat: no-repeat;
   background-size: cover;
   overflow: auto;
   .Main{
      &-container{
         display: flex;
         padding: 20px 12px 10px 12px;
         // break points
         @include BP_mobile {
            flex-direction: column-reverse;
         }
         @include BP_laptop {
            width: 700px;
            margin: 0 auto;
         }
         @include BP_desktop {
            width: 700px;
            margin: 0 auto;
         }
         @include BP_tv {
            width: 700px;
            margin: 0 auto;
         }
      }
      &-day{
         color: $darkFont;
         text-shadow: $lightShadow;
      }
      &-night{
         color: $lightFont;
         text-shadow: $darkShadow;
      }
      &-title{
         margin: 0;
         font-size: 43px;
         font-weight: 900;
      }
      &-subtitle{
         margin: 0;
         font-size: 30px;
         font-weight: 900;
      }
      &-requestBtn{
         height: 50px;
         @include BP_mobile {
            
         }
      }
      &-left{
         & dd{
            padding-bottom: 7px;
         }
      }
      &-right{
         // break points
         @include BP_mobile {
            padding: 30px 0;
         }
         @include BP_tablet {
            padding: 50px 0 50px 50px;
         }
         @include BP_laptop {
            padding: 100px 0 100px 100px;
         }
         @include BP_desktop {
            padding: 150px 0 150px 100px;
         }
         @include BP_tv {
            padding: 150px 0 150px 100px;
         }
      }
   }
}
